@model BloodBank.Models.Donor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Donor</h2>
<div>
    <p>
        Are you sure you want to delete @Model.DonorName ?
    </p>
</div>

<form action="@Url.Action("DeleteConfirm", "Donors", new {id = Model.DonorID})" method="post" >
    <input type="submit" value="Delete" />
</form>
