@model BloodBank.Models.Donor

@{
    ViewBag.Title = "Information";
}

<h2>Information on Donor</h2>
<div>
    Name: @Model.DonorName<br />
    Contact: @Model.DonorContactNumber<br />
    Address: @Model.DonorAddress<br />
    BloodType: @Model.DonorBloodGroup<br />
</div>
